<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gas Utility - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-700 text-white min-h-screen flex flex-col items-center">
   
    <nav class=" w-full bg-gray-800 p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">Trackmydeal.com</h1>
            <div>
                <a href="/login/" class="text-gray-300 hover:text-white px-4">Login</a>
                <a href="/register/" class="text-gray-300 hover:text-white px-4">Register</a>
            </div>
        </div>
    </nav>


    <main class="container pt-32 pb-16 mx-auto">
        <section class="max-w-3xl mx-auto text-center animate-fadeIn">
            <h1 class="text-4xl font-bold tracking-tight mb-4">
                Track Your Favorite Products
            </h1>
            <p class="text-lg text-white mb-8">
                Get notified when prices drop on products you love
            </p>
            
            <div class="flex gap-4 max-w-xl mx-auto mb-16">
                <input 
                    type="text" 
                    placeholder="Enter product URL (e.g., Amazon, Flipkart)" 
                    class="border border-gray-300 p-3 rounded-lg w-full"
                />
                <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">
                    Track
                </button>
            </div>
        </section>

        {% include "CustomerPages/populardeals.html" %}
    </main>
</body>
</html>
