<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gas Utility - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-700 text-white min-h-screen flex flex-col items-center">
   
    <nav class=" w-full bg-gray-800 p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold">Trackmydeal.com</h1>
            <div>
                <a href="/login/" class="text-gray-300 hover:text-white px-4">Login</a>
                <a href="/register/" class="text-gray-300 hover:text-white px-4">Register</a>
            </div>
        </div>
    </nav>


    <main class="container pt-32 pb-16 mx-auto">
        {% include "components/trackproduct.html" %}
        {% include "components/populardeals.html" %}
    </main>
</body>
</html>
