
<section class="mt-16">
    <h2 class="text-2xl font-semibold mb-8 text-center">
        Popular Deals
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for deal in sample_deals %}
            <div class="bg-gray-600 shadow-md p-4 rounded-lg">
                <img src="{{ deal.image_url }}" alt="{{ deal.name }}" class="w-full h-40 object-cover mb-4 rounded">
                <h3 class="text-lg font-semibold ">{{ deal.name }}</h3>
                <p class="text-white-700">{{ deal.price }}</p>
                <a href="{{ deal.link }}" class="block bg-blue-500 text-white mt-3 py-2 rounded text-center">
                    View Deal
                </a>
            </div>
        {% endfor %}
    </div>
</section>